[submodule "vendors/antigen"]
	path = vendors/antigen
	url = https://github.com/zsh-users/antigen/
[submodule "vendors/fonts"]
	path = vendors/fonts
	url = https://github.com/powerline/fonts
[submodule "vendors/vim-plug"]
	path = vendors/vim-plug
	url = https://github.com/junegunn/vim-plug/
[submodule "vendors/tig"]
	path = vendors/tig
	url = https://github.com/jonas/tig
