[submodule "vendors/fonts"]
	path = vendors/fonts
	url = https://github.com/powerline/fonts
[submodule "vendors/mastering-zsh"]
	path = vendors/mastering-zsh
	url = https://github.com/rothgar/mastering-zsh
[submodule "vendors/zimfw"]
	path = vendors/zimfw
	url = https://github.com/zimfw/zimfw
