<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>my.env</string>
	<key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>
            launchctl setenv JOKER_RELEASE_PATH /Users/martin/Dropbox/Soft/Joker
            launchctl setenv TESTS_RELEASE_PATH /Users/martin/Desktop/temp
            launchctl setenv FFMPEG_DEV_PATH /Users/martin/dev/libs/ffmpeg/2.8.14/without-qtkit-secure-xz
        </string>
    </array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
