<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>my.env</string>
	<key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>
            launchctl setenv JOKER_RELEASE_PATH $HOME/Dropbox/Soft/Joker
            launchctl setenv TESTS_RELEASE_PATH $HOME/Dropbox/Soft/Joker/test
            launchctl setenv FFMPEG_DEV_PATH /usr/local/opt/ffmpeg@2.8
            launchctl setenv AAF_LIBRARY_PATH /usr/local/opt/aaf
        </string>
    </array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
