<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>my.env</string>
	<key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>
            launchctl setenv JOKER_RELEASE_PATH $HOME/Dropbox/Soft/Joker
            launchctl setenv TESTS_RELEASE_PATH $HOME/Dropbox/Soft/Joker/test
            launchctl setenv FFMPEG_DEV_PATH $HOME/dev/lib/ffmpeg/ffmpeg-4.2.2-macos64-dev
            launchctl setenv FFMPEG_SHARED_PATH $HOME/dev/lib/ffmpeg/ffmpeg-4.2.2-macos64-shared
            launchctl setenv AAF_PATH $HOME/dev/phonations/aaf/out
            launchctl setenv LTC_PATH /usr/local/opt/libltc
        </string>
    </array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
